main{
  
}
section{
  background-color: whitesmoke;
  padding: 20px 0;
}
#about{
  
}
#about .wrap{  
  text-align: center;
}
#about .wrap h2{
  line-height: 6;
  font-size: 40px;
  font-weight: 800;
}
#about .wrap figure{
  display: inline-block;
  margin-bottom: 20px;
}
#about .wrap figure img{
  width: 200px;
}
#about .wrap ul{
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}
#about .wrap ul li{
  width: fit-content;
  margin: 0 auto;
}
#about .wrap ul li h3{
  font-size: 30px;
  font-weight: 800;
}
#about .wrap ul li:nth-child(2) p{  
  font-size: 18px;
}
#about .wrap ul li:nth-child(3) p{  
  line-height: 6;
  font-size: 16px;
  color: gray;
}
#about .wrap ul li:nth-child(4) p{  
  line-height: 1.2;
  font-size: 24px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid lightgrey;
}
#skill{
  
}
#skill .wrap{
  max-width: 1200px;
}
#skill .wrap h2{
  line-height: 6;
  font-size: 40px;
  font-weight: 800;
}
#skill .wrap div{
  display: flex;
}
#skill .wrap ul{
  width: 230px;
  height: 250px;
  text-align: center;
  margin: 0 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 50px;
  border: 1px solid lightgrey;
}
#skill .wrap ul li{
}
#skill .wrap ul li h3{
  line-height: 1.6;
  font-size: 24px;
}
#skill .wrap ul li img{
  
}
#portfolio{
  
}
#portfolio .wrap{
  max-width: 1200px;  
}
#portfolio .wrap h2{  
  line-height: 6;
  font-size: 40px;
  font-weight: 800;
  text-align: end;
}
#portfolio .wrap div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#portfolio .wrap figure{
  display: flex;
  margin: 15px 20px;
}
#portfolio .wrap figure a{
  display: flex;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid lightgrey;
  width: 410px;
  height: 100px;
}
#portfolio .wrap figure a img{
  width: 200px;
  height: 100px;
}
#portfolio .wrap figure:nth-of-type(2) a img{
  height: auto;
}
#portfolio .wrap figure:nth-of-type(3) a img{
  height: auto;
  width: auto;
  margin: 0 30px;
}
#portfolio .wrap figure:nth-of-type(4) a img{
  height: auto;
  background: #dcdcdc;
  border-radius: 30px;
}
#portfolio .wrap figure a p{
  margin: 0 0 0 50px;
  color: black;
  font-size: 20px;
}
#contact{
  background-color: whitesmoke;
  padding: 20px 0;
}
#contact .wrap{  
  text-align: center;
}
#contact .wrap h2{
  line-height: 6;
  font-size: 40px;
  font-weight: 800;
}
#contact .wrap address{  
  font-style: normal;
  padding: 20px 40px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid lightgrey;
  width: fit-content;
  margin: 0 auto;
  font-size: 28px;
}
#contact .wrap address span{
  margin-left: 25px;
}