@media screen and (max-width:768px){
/*  common  */
  .wrap{
  padding: 0 20px;
  }
/*  header  */
  header{
    position: absolute;
  }
  header nav h1{
    font-size: calc(100px * 0.5);
  }
  header nav ul{
    display: none;
  }
/*  title  */
  #title .wrap{    
    padding: 0;
    height: 70vh;
  }
  #title .wrap h1{    
    font-size: calc(100px * 0.5);
    padding: 0 calc(100px * 0.2);
  }
/*  about  */
  #about .wrap ul{
    float: initial;
    height: 100%;
  }
  #about .wrap ul li:nth-child(4) p{    
    word-break: keep-all;
    font-size: calc(24px * 0.85);
  }
  #about .wrap ul li:nth-child(4) p span{
    display: block;
  }
/*  skill  */
  #skill .wrap h2{
    text-align: center;
  }
  #skill .wrap div{
    flex-wrap: wrap;
  }
  #skill .wrap ul{    
    display: block;
    margin: 20px auto;
    width: 250px;
    height: auto;
    float: initial;
  }
  #skill .wrap ul li:nth-child(1){
    padding: 15px 0;
  }
/*  portfolio  */
  #portfolio .wrap h2{
    text-align: center;
  }
  #portfolio .wrap div{
    display: block;
  }
  #portfolio .wrap figure a{
    flex-direction: column;
    padding: 60px 10px;
    margin: 0 auto;
    height: 120px;
  }
  #portfolio .wrap figure a img{
    
  }
  #portfolio .wrap figure a p{
    margin: 20px 0;
  }
/*  contact  */
  #contact .wrap address{
    width: auto;
    font-size: calc(28px * 0.7);
  }
/*  footer  */
  footer .wrap p{
    padding: 0 20px;
    font-size: calc(20px * 0.8);
  }
  footer .wrap p span{
    display: block;
  }
}